@font-face {
  font-family: "Open Sans";
  src: url(/resources/fonts/OpenSans-Bold.ttf) format('ttf'),
  src: url(/resources/fonts/OpenSans-Regular.ttf) format('ttf'),
  src: url(/resources/fonts/OpenSans-Light.ttf) format('ttf');
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem 0;
}


h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

p, a {
  line-height: 1.4;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header .logo img {
  height: 32px;
}


header .logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

nav {
  margin-right: 24px;
}

nav a {
  padding: 0px 16px;
  color: rgba(0, 0, 0, 0.7);
  flex-shrink: 0;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.desktop-nav a:hover {
  color: rgba(252, 74, 26, 1);
}




#colmar {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
}

#academy {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}


@media only screen and (max-width: 780px) {

  .desktop-nav {
    display: none;
  }

  div.logo {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .icon:hover {
    fill: rgba(252, 74, 26, 1);
  }

  svg {
    width: 50px;
    height: 50px;
    padding-top: 0.5rem;
  }


}




.banner-section {
  display: flex;
}

.banner-section.color {
  background-color: rgba(74, 189, 172, 1);
}


.banner-section.color h1 {
  color: white;
}



#bannerone {
  background-image: url(../images/ic-logo-white.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 230%;
}

.left {
  width: 60%;
  padding: 4rem 3rem;
}


.left img {
    width: 100%;
    height: auto;
    padding: 0rem 2rem 1rem 0rem;
}



.right {
  width: 40%;
  padding: 4rem 3rem;
}


.text-container {
  width: 70%;
}



#button {
  padding: 1rem 0;
  background-color: rgba(247, 183, 51, 1);
  text-align: center;
  color: white;
  transition: color 0.5s linear 0s, background-color 0.5s linear 0s;
}

#button:hover {
  background-color: rgba(252, 74, 26, 1);

}




@media only screen and (max-width: 780px) {

  .banner-section {
    flex-direction: column;
  }

  .left, .right {
      width: 100%;
      height: auto;
      padding: 0;
    }

    .left img {
        width: 100%;
        height: auto;
    }

    .text-container-right {
      width: 80%;
      padding: 0rem 2rem 3rem 2rem;
    }

    .text-container-left {
      width: 100%;
      padding: 0rem 2rem 3rem 2rem;
    }

}


.feature {
  display: flex;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: flex-start;
}

.feature:hover {
  background-color: rgba(247, 183, 51, 1);
  color: white;
}

.feature:last-child:hover {
  background-color: rgba(247, 183, 51, 1);
}


.feature img {
 width: 35%;
 height: 35%;
 padding: 1rem;
}

#quote {
  font-weight: bold;
  font-size: 0.75rem;
  padding-top: 2rem;
}

.feature .info {
  width: 60%;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}


.feature:last-child {
  background-color: rgba(0, 0, 0, 0.1);
}

.info a {
  color: rgba(27, 161, 226, 1);
}

.info a:active {
  color: rgba(15, 72, 116, 1);
}


img.wide {
display: none;
}


@media only screen and (max-width: 780px) {
  .feature {
    flex-direction: column;
  }

  img.square {
  display: none;
  }

  img.wide {
    display: block;
   width: 100%;
   height: auto;
   padding: 0;
  }


}

#start-title {
  text-align: center;
  background-color: rgba(74, 189, 172, 1);
  padding-top: 3rem;
  color: white;
}

#desktop-courses {
  margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.course {
  background-color: white;
  width: 32%;
  height: auto;
  margin-bottom: 2rem;
  border: 3px solid rgba(74, 189, 172, 1);
}

.course:hover {
  border: 3px solid rgba(247, 183, 51, 1);
  box-shadow: 1px 1px 7px #227168;

}

.course img {
    width: 100%;
    height: auto;
  }

  .course-text {
  padding: 1rem;
  }

  .course h4 {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 2rem;
  }

  #mobile-courses {
    display: none;
  }

  @media only screen and (max-width: 780px) {

#desktop-courses {
  display: none;
}

#mobile-courses {
  display: block;
}

.course {
  width: 100%;
  background-color: rgba(223, 220, 227, 0.5);
}

.course h3 {
  padding-left: 2rem;
}
}



#thesis-title {
  text-align: center;
  padding-top: 3rem;
}

video {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#thesis:first-child {
  background-color: rgba(0, 0, 0, 0.1);
}

  @media only screen and (max-width: 780px) {

    .desktop-quote {
      display:none;
    }

    .desktop-thesis {
      display:none;
    }
  }

footer {
  display: flex;
  width: 0 auto;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;

}

footer a {
  margin-left: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);

}

@media only screen and (max-width: 780px) {
  footer a, footer p {
    font-size: 1rem;
  }
}
